// GENERAL

$bg-clr: #e7ecf5;
$container-clr: #f1c7d5;
$action-btn: #dfb9c1;
$txt-fade-clr: #817578;
$txt-clr-hvr: #12aebc;

$logo-blue: #3b9696;
$logo-cream: #ffddc9;

$txt-clr: #201e1c;

$spacing: 1.5rem;
// $header-bg-clr: #e7eeee;
$header-bg-clr: radial-gradient(circle, rgba(240,233,246,.4) 0%, rgba(221,206,242,.4) 52%, rgba(209,209,240,.4) 100%);
body {
    background-color: $bg-clr;
}
.title { 
    color: $txt-clr;
    font-family: 'Vintage One', serif;
    text-align: center;
    font-size: 5rem;
    padding-top: 8rem;
    padding-bottom: 3rem;

}
.title-hr {
    opacity: 60%;
    width: 100vw;
    height: 2px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 58%, rgba(0,0,0,0) 100%);

}

.header {
    background: $header-bg-clr;
}

.circle-grow {
    flex-shrink: 0;
    z-index:2;
    border: rgb(82, 82, 82) 1rem solid;
    border-radius: 90%;
    background-color: rgb(136, 136, 136);

    &:hover {
        transform: scale(1.15);
    }
    transition: cubic-bezier(.37,-0.02,.17,.88), 1s;
}



a {
    color:#354a90;
    letter-spacing: 1px;
    text-decoration: none;
    // border-bottom: 2px solid;
    &:hover {
        color: lighten(#354a90, 10%);
    }
}

.cat-page-image-container {
        
    overflow: hidden;
    margin: $spacing;
    margin-right: .5rem;
    height: 290px;
    
    width: auto;
    max-width: 274px;
    border-radius: .7rem;

    .event-image, .cat-image {

        object-fit: cover;
        width: 100%;
        height: 100%;

    }
}


